@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(norm.css);
.tickerwrap {
  position: absolute;
  height: 60px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #C20;
  margin: 0;
  font-style: italic;
  position: absolute;
  padding: 0 0 0 100px;
  width: 100%;
}

.tickerwrap ul {
  list-style-type: none;
}

.tickerwrap ul li {
  padding: 10px 0;
}

.tickerwrap:before {
  content: "Latest News";
  display: inline-block;
  font-style: normal;
  background: #DFB50D;
  padding: 10px;
  color: #990000;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
  text-align: center;
}
/*
.tick2 {
  border-bottom: 1px solid #0044CD;
}

.tickerwrap:nth-child(2):before {
  content: "Birthdays";
  background: #0044CD;
}

.tick3 {
  border-bottom: 1px solid #09E300;
}

.tickerwrap:nth-child(3):before {
  content: "Latest News";
  background: #09E300;
}
*/